altgraph==0.17.4
importlib-metadata==6.8.0
macholib==1.16.3
numpy==1.26.2
opencv-python==4.8.1.78
packaging==23.2
Pillow==10.1.0
pyinstaller==6.2.0
pyinstaller-hooks-contrib==2023.10
pyobjc-core==10.0
pyobjc-framework-Cocoa==10.0
PySide6==6.5.2
PySide6-Addons==6.5.2
PySide6-Essentials==6.5.2
shiboken6==6.5.2
zipp==3.17.0
